.note{
    color: black;
    font-size: 15px;
}
.heading{
    font-size: 20px;
    width: 95%;
    background-color: #C2948A;
    border-radius: 20px;
    padding: 5px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0%;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
  }
canvas{
    border: black solid 5px;
    box-shadow: 5px 5px 5px grey ;
    border-radius: 20px;
    background-color: #C2948A;
}
#use{
    margin-top: 10px;
    margin-bottom: 10px;
}
